[Unit]
Description=Server Dynamic Fan Control
After=network.target

[Service]
Type=simple
Restart=always                                                                                                                                                                                                                            
ExecStart=/usr/bin/dynamic_fan_control -c /etc/sysconfig/fan_config.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
